{{define "dashboard"}}

{{template "headash"}}


<nav class="navbar navbar-expand-md navbar-light bg-light">
<a href="#" class="navbar-brand"> Home </a>


<div class="navbar-collapse" id="firstnavbar">
<ul class="navbar-nav ml-auto" >
 <li class="navbar-item"> <a class="nav-link" href="#"> New </a> </li>
  <li class="navbar-item"> <a class="nav-link" href="#"> About </a> </li>
   <li class="navbar-item text-danger"> <a class="nav-link" href="/" > Long out  </a> </li>
 </ul>
 </div>
</nav>

<div class="container">

<h1 class="text-light text-center">Welcome New User <h1>

</div>

{{template "foot"}}
{{end}}